.NewItem {
    display: flex;
    margin: .5rem;
}

.NewItem > input {
    flex: 1;

    -moz-appearance: none;/* older firefox */
    -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
    appearance: none; /* rest */
    border: 1px solid gray;
    border-radius: 1%;
    width: 100%;
    line-height: 2;
    outline: none;
    margin-right: .25rem;
}

.NewItem > .Add {
    width: 5rem;
    padding: 0.25rem;
    margin: 1px;
    background-color: #38C172;
    color: white;
    border: 1px solid #38C172;
    border-radius: 3%;
    cursor: pointer;
}

.NewItem > .Add:focus {
    outline: none;
}