.App {
  width: 100vw;
  height: 100vh;

  display: flex;
}

.App > .content {
  width: 50%;

  margin-top: 3rem;
  margin-bottom: 3rem;

  margin-left: auto;
  margin-right: auto;
}

.App > .content > .Search {

  margin: 0.5rem;
}